<div class="col-md-12 col-sm-12 form">
    <div class="card">
        <div class="row">
            <h5 class="card-header">Info account</h5>
            <div class="card-body">
                <form id="formId" [formGroup]="formAnagrafica">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <app-input-text [title]="'cognome'" [formField]="'cognome'" [formId]="'formId'" [formParent]="formAnagrafica" [required]="true" [maxLen]="'45'"></app-input-text>        
                            </div>
                            <div class=" col-md-4">
                                <app-input-text [title]="'nome'" [formField]="'nome'" [formId]="'formId'" [formParent]="formAnagrafica" [required]="true" [maxLen]="'45'"></app-input-text>
                            </div>
                            <div class=" col-md-4">
                                <app-input-text [type]="'date'" [title]="'dataNascita'" [formField]="'dataNascita'" [formId]="'formId'" [formParent]="formAnagrafica" [required]="true" [maxLen]="'10'"></app-input-text>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <app-input-text [title]="'indirizzo'" [formField]="'via'" [formId]="'formId'" [formParent]="formAnagrafica" [required]="true" [maxLen]="'45'"></app-input-text>        
                            </div>
                            <div class="col-md-4">
                                <app-input-text [title]="'comune'" [formField]="'comune'" [formId]="'formId'" [formParent]="formAnagrafica" [required]="true" [maxLen]="'55'"></app-input-text>
                            </div>
                            <div class="col-md-4">
                                <app-input-text [title]="'numCivico'" [formField]="'numCivico'" [formId]="'formId'" [formParent]="formAnagrafica" [required]="true" [maxLen]="'5'"></app-input-text>        
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-md-4">
                                <app-input-text [title]="'cap'" [formField]="'cap'" [formId]="'formId'" [formParent]="formAnagrafica" [required]="true" [maxLen]="'5'" [minLen]="'4'"></app-input-text>
                            </div>
                            <div class="col-md-4">
                                <app-input-text [title]="'provincia'" [formField]="'provincia'" [formId]="'formId'" [formParent]="formAnagrafica" [required]="true" [maxLen]="'2'"></app-input-text>
                            </div>
                        </div>

                        <form id="formId" [formGroup]="formUtente">
                            <div class="row">
                                <div class="col-md-4">
                                    <app-input-text [title]="'username'" [formField]="'username'" [formId]="'formId'" [formParent]="formUtente" [required]="true" [maxLen]="'45'"></app-input-text>        
                                </div>
                                <div class="col-md-4">
                                    <app-input-text [type]="'email'" [title]="'email'" [formField]="'email'" [formId]="'formId'" [formParent]="formUtente" [required]="true" [maxLen]="'55'"></app-input-text>
                                </div>
                            </div>

                            <div class="row">
                                <p  class="centerDiv" *ngIf="!formAnagrafica.valid || !formUtente.valid">Compilare i campi obbligatori</p>
                            </div>

                            <div class="row centerDiv">
                                <div class="col-md-3">
                                    <button class="btn" (click)="modificaAccount()" title="Salva modifiche">Salva modifiche</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>