<h1>Benvenuto {{this.anagrafica?.cognome}} {{this.anagrafica?.nome}} in City Safe Bank!</h1>

<br><br>

<div class="row" *ngIf="this.cc?.length==0">
    <h4 class="white">Non ha nessun conto corrente vieni a trovarci in filiale</h4>
</div>

<h4 *ngIf="this.cc?.length==1">Il suo conto corrente: ha il seguente saldo: {{this.cc[0].saldo | currency:'EUR'}}</h4>


<div class="col-md-12 col-sm-12" *ngIf="this.cc?.length>1">
    <div class="card">
        <div class="row">
            <h5 class="card-header">Info sui suoi conti correnti</h5>
            <div class="card-body">
                <app-grid [colonne]="colonne" [dati]="this.cc" [notShowButton]="true"></app-grid>
            </div>
        </div>
    </div>
</div>  