<app-login  *ngIf="type=='LoginComponent'" (changeType)="refreshTypeObject($event)"></app-login>
<app-dashboard *ngIf="type=='DashboardComponent'" (changeType)="refreshTypeObject($event)"></app-dashboard>
<app-ripristina-credenziali *ngIf="type=='RipristinaCredenzialiComponent'" (changeType)="refreshTypeObject($event)"></app-ripristina-credenziali>
<app-crea-utenza  *ngIf="type=='CreaUtenzaComponent'" (changeType)="refreshTypeObject($event)"></app-crea-utenza>
<app-conferma-creazione-account *ngIf="type=='ConfermaCreazioneAccountComponent'" (changeType)="refreshTypeObject($event)"></app-conferma-creazione-account>
<app-chi-siamo *ngIf="type=='ChiSiamoComponent'" (changeType)="refreshTypeObject($event)"></app-chi-siamo>
<app-bonifico  *ngIf="type=='BonificoComponent'" (changeType)="refreshTypeObject($event)"></app-bonifico>

<app-nav-bar *ngIf="showNavBar" (changeType)="refreshTypeObject($event)"></app-nav-bar>
<notifier-container></notifier-container>