<app-nav-bar-junior-attivo *ngIf="type=='juniorAttivo'"></app-nav-bar-junior-attivo>
<app-nav-bar-junior-passivo *ngIf="type=='juniorPassivo'"></app-nav-bar-junior-passivo>
<app-nav-bar-not-conto-corrente *ngIf="type=='notContoCorrente'"></app-nav-bar-not-conto-corrente>
<app-nav-bar-senior-attivo *ngIf="type=='seniorAttivo'"></app-nav-bar-senior-attivo>
<app-nav-bar-senior-attivo *ngIf="type=='seniorPassivo'"></app-nav-bar-senior-attivo>
<app-nav-bar-admin *ngIf="type=='admin'"></app-nav-bar-admin>

<router-outlet></router-outlet>
<notifier-container></notifier-container>