<div class="col-md-12 col-sm-12 form">
    <div class="card">
        <div class="row">
            <h5 class="card-header">Ricarica telefonica</h5>
            <div class="card-body">
                <form id="formId" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-6 col-md-6">
                            <app-input-text [title]="'numeroTelefono'" [formField]="'numeroTelefono'" [formId]="'formId'" [formParent]="form" [required]="true" [maxLen]="'10'"></app-input-text>        
                        </div>
                        <div class="col-md-6 col-md-6">
                            <app-select [title]="'operatore'" [items]="operatori"   [bindLabel]="'descrizione'" [bindValue]="'id'"  [formField]="'operatore'" [formId]="'formId'" [formParent]="form" [required]="true" [maxLen]="'45'"></app-select>        
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-6">
                            <app-select [title]="'importoRicarica'" [items]="importiRicarica"   [bindLabel]="'descrizione'" [bindValue]="'id'"  [formField]="'importoRicarica'" [formId]="'formId'" [formParent]="form" [required]="true" [maxLen]="'2'"></app-select>        
                        </div>
                    </div>

                    <div class="row centerDiv">
                        <div class="col-md-6 col-sm-6">
                            <button class="btn" (click)="effettuaRicarica()" title="Procedi con la ricarica">Procedi con la ricarica</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>