<ngx-smart-modal #modificaContiCorrentiUtente [identifier]="'modificaContiCorrentiUtente'" (onClose)="onClose()" (onOpenFinished)="onDataLoaded()">
    <div class="col-md-12 col-sm-12 form" >
        <div class="modal-header">
            <h5 style="text-align: center;"><b>I conti del cliente {{denominazione}}</b></h5>
        </div>
        <div class="modal-body" *ngIf="contiCorrente.length>0 && responseOk">
            <app-grid [colonne]="colonne" [dati]="contiCorrente"   [showAggiungi]="false" [showModifica]="false" (action)="azione($event)"></app-grid>
        </div>
        <div class="modal-body" *ngIf="contiCorrente.length==0">
            <p>Il seguente cliente non ha un conto corrente</p>
        </div>
    </div>
</ngx-smart-modal>
<app-conferma-cancellazione (confermaEliminazione)="cancellaContoCorrente()"></app-conferma-cancellazione>